body {
  background-color: #ffeef1;
}

.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  border: 0 !important;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #e95420;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 0px;
}

.btn-info {
  --bs-btn-color: #fff; /* White text color */
  --bs-btn-bg: #b1315f; /* Main background color */
  --bs-btn-border-color: #b1315f; /* Border color matching background */
  --bs-btn-hover-color: #fff; /* White text color on hover */
  --bs-btn-hover-bg: #9e2a52; /* A darker shade of #b1315f for hover background */
  --bs-btn-hover-border-color: #891f4b; /* A darker shade for the border on hover */
  --bs-btn-focus-shadow-rgb: 177, 49, 95; /* Slightly adjusted for focus shadow */
  --bs-btn-active-color: #fff; /* White text color when button is active */
  --bs-btn-active-bg: #891f4b; /* Darker shade for active button background */
  --bs-btn-active-border-color: #701640; /* Darker shade for active border */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Active shadow */
  --bs-btn-disabled-color: #fff; /* White text for disabled state */
  --bs-btn-disabled-bg: #b1315f; /* Disabled background color same as main */
  --bs-btn-disabled-border-color: #b1315f; /* Disabled border color same as main */
}
