<div class="container mt-5">
    <div style="text-align: center;">

        @if (accountService.currentUser())
        {
            <h1>You are logged in</h1>
            <div class="text-center">
                <button (click)="goTo('/members')" class="btn btn-info btn-lg me-2">Matches</button>
                <button (click)="goTo('/lists')" class="btn btn-info btn-lg me-2">Lists</button>
                <button (click)="goTo('/messages')" class="btn btn-info btn-lg me-2">Messages</button>
            </div>
        }

        @else 
        {
            <app-landing-page></app-landing-page>
        }

    </div>
</div>