<div class="welcome">
    <div class="welcome-content" style="text-align: left;">
        <h1>Meet new and<br>interesting people</h1>
        <p class="lead">Find your perfect match easily & quickly</p>
        <div >
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2" 
                style="border-radius: 40px; padding-left: 20px; padding-right: 20px;">Get Started</button>
        </div>
    </div>
    <div class="welcome-image">
        <div class="phone-mockup">
            <div class="avatar female"></div>
            <div class="avatar male"></div>
            <div class="hearts">❤️ ❤️ ❤️</div>
        </div>
    </div>
</div>

@if (registerMode){
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-new-register 
                        (cancelRegister)="cancelRegisterMode($event)"
                    ></app-new-register>
                </div>
            </div>
        </div>
    }
